#index-wrapper {
  margin: 5em;

  header {
    margin: 2em 0;

    h1 {
      margin: 0;
      font-family: $logo-font-family;
      display: inline-block;
      transition: $logo-hover-transition;

      &:hover {
        color: #ae52d4;
      }
    }

    p {
      margin: 0;
    }

  }

  #index-content {
    padding: 50px 70px;

    #loginsignup-wrapper .link {
      margin: 0;
      color: $link-color-bright;

      &:hover {
        color: $link-color-hover;
        cursor: pointer;
      }

    }

    .index-form {
      position: relative;
      display: inline-grid;
      color: $link-color-bright;

      &.signin, &.register {
        display: none;
      }

      .index-form-response {
        padding: 6px;
      }

      input {
        padding: 15px;
      }
      .index-form-input {
        border: 0;
        &:focus {
          outline: none;
        }
      }

      .index-form-back-link {
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
